<%inherit file="/base.html"/>

<%block name="content">

<!-- 初始化 -->

    <div class="home-page" id="app">
        <div class="cw-search-box">
            <i-form :model="searchInfo" label-position="right" :label-width="80" class="flex">
                <form-item label=" 请选择业务:">
                        <i-select v-model="searchInfo.business" clearable>
                            <i-option :value="item.value" v-for="(item,index) in business" :key="index">{{item.label}}</i-option>
                        </i-select>
                </form-item>
                <Form-item label="请输入主机ip" prop="desc">
                    <i-input v-model="formItem.ip" type="textarea" placeholder="多个ip用回车分割"></i-input>
                </Form-item>

          </i-form>
            <i-button type="primary" class="btn" @click="search">查询</i-button>
        </div>

        <i-table :columns="columns" :data="data"></i-table>

    </div>
</%block>
<script>
     new Vue({
         el: '#app',
         data: function () {
             return {
                 creatEexam:false,
                 detailsData:false,
                 data:[],
                 examinee_data:[],
                 business:[],
                 hosts:[],
                 principal:[],
                 searchInfo: {
                    business: '',
                     ip:'',
                    },
                 details:{
                    business:'',
                     name:'',
                     exam_type:'',
                     principal:'',
                     phone:'',
                     exam_date:'',
                     site:'',
                     filePath:'',
                 },
                 formItem:{
                    business:'',
                     name:'',
                     exam_type:'',
                     principal:'',
                     phone:'',
                     exam_date:'',
                     site:'',
                     filePath:'',
                 },
                 columns: [
                    {
                        title: '内网ip',
                        key: 'innerip'
                    },
                     {
                        title: '系统名称',
                        key: 'os_name'
                    },
                     {
                        title: '主机名',
                        key: 'host_name'
                    },
                     {
                        title: '云区域',
                        key: 'cloud_name'
                    },
                     {
                        title: 'Mem(%)',
                        key: 'MEMORY'
                    },
                     {
                        title: 'Disk(%)',
                        key: 'DISK'
                    },
                     {
                        title: 'CPU(%)',
                        key: 'CPU'
                    },
                    {
                        title: '操作',
                        key: 'actiono',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show_data(params.row)
                                        }
                                    }
                                }, '详情'),
                            h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'error'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.delete_data(params.row.id)
                                        }
                                    }
                                }, '添加监控'),
                            ]);
                        }
                    }
                ],
             }
         },
          methods: {
             //查询业务
             search_biz(){
                axios.get(site_url+ "data_preparation/search_biz/").then(res=>{
                    this.business = res.data.data
                })
            },
              //删除考试
              delete_data(row){
                axios.post(site_url + "data_preparation/delete/"+row).then(
                   res => {
                     this.cancel()
                    if (res.data.result) {
                        this.$Message.success('删除考试成功');
                    } else {
                        this.$Message.error('删除考试失败');
                    }
                    this.search()
               } )
              },
              //根据业务id查询主机
              search_host(row){
                  axios.get(site_url + "data_preparation/search_host/"+ row).then(res=>{
                    this.hosts = res.data.data
                })
              },
              //查询用户
              search_users(){
            axios.get(site_url + 'data_preparation/search_users/').then(res => {
                this.principal = res.data.data
            })
        },
          // 创建考试
            handleCreate() {
                this.$refs['formItem'].validate((valid) => {
                    if (valid) {
                        this.create()
                    } else {
                        this.$Message.error('表单存在未填字段!');
                    }
                })
            },
          create(){
                axios.post(site_url + "data_preparation/add",this.formItem).then(
                   res => {
                     this.cancel()
                    if (res.data.result) {
                        this.$Message.success('添加考试成功');
                    } else {
                        this.$Message.error('添加考试失败');
                    }
                    this.search()
               } )
          },
          //显示详情
          show_data(row){
            axios.get(site_url+ "data_preparation/one/"+this.searchInfo.business,{
                    params: row
                }).then(res=>{
                    var data = res.data.data
                    this.$set(row, 'MEMORY', data.MEMORY)
                    this.$set(row, 'DISK', data.DISK)
                    this.$set(row, 'CPU', data.CPU)
                })
          },
            // 条件查询
            search(){
                axios.get(site_url+ "data_preparation/list",{
                    params: this.searchInfo
                }).then(res=>{
                    this.data = res.data.data
                })
            },
          cancel(){
              this.creatEexam = false
              this.detailsData = false
          },
          handleSuccess(res,file){
                this.formItem.filePath = res.data
            },
            handleError(error,file){
                this.$Message.error("数据导入失败！")
            },
          },
        created() {
            this.search_biz()
            this.search_users()
            this.search()
        }
     })
</script>
<style>
 .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .ivu-form-item{
        flex: 0 0 30%;
    }

    .ivu-date-picker{
        width: 100%;
    }

    .btn{
        margin:0 0 20px 25px;
    }

    .cw-btn-group{
        text-align: center;
    }
</style>